<h1>Nueva Novedad</h1>

<form action="" method="POST">
    <input type="text" name="detalle" placeholder="Detalle"><br>
    <input type="text" name="autor" placeholder="Autor"><br>
    <button type ="submit">Enviar</button>

</form>